@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


body {
  overflow-x: hidden;
  font-family: 'Maven Pro', sans-serif;

  color: #505962;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,.6)!important;
}

.navbar-brand h3 {
  color: white;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
  display: flex;
}

.navbar-light .navbar-nav .nav-link.active {
  /*color: #fCCD04;*/
  color: #a9bafc;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #C1C8E4;
}

.offset-bar:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

.drop-down-content {
  display: none;
  position: absolute;
  min-width: 2rem;

  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(75,0,211,0)!important;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
  z-index: 3;
}

.finder {
  display: none;
}

.drop-down-content a {
  float: none;
  color: #1d2124;
  padding: 12px 16px;
  display: block;
  text-align: left;
}


.navbar-light .navbar-nav .drop-down-button:hover .drop-down-content {
  display: inline-block;
}

.drop-down-content a:hover {
  background-color: rgba(255,255,255,.8);
}


.no-webp .home-inner {
  background-image: url("img/texture/cropped-pawel-czerwinski-APVgVX_yDDc-unsplash25.jpg");
}

.webp .home-inner {
  background-image: url("img/texture/pawelCompressed/cropped-pawel-czerwinski-apvgvx_yddc-unsplash25.webp");
}

.li-last {
  /* last element of caption */
  padding-bottom: 1rem;
}

.btn {
  /* caption buttons */
  border-width: medium;
  color: white;
  border-radius: 0;
  box-shadow: .2rem .2rem 3rem rgba(0,0,0,.3)!important;
}

.restButton {
  color: #1d2124;
  background: rgba(255,255,255,.3);
}

.iris {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;
}


.caption {
  width: 50%;
  max-width: 50%;
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 3;
  color: floralwhite;
  text-shadow: .2rem .2rem 3rem rgba(0,0,0,1)
  , -.2rem -.2rem 3rem rgba(0,0,0,1)
  , .4rem .4rem 5rem rgba(0,0,0,1)
  , -.4rem -.4rem 5rem rgba(0,0,0,1)
  !important;
}


.rhombus img {
  position: relative;
  width: 20%;
  max-width: 20%;
  left: 40%;
  z-index: 1;
  opacity: .7;
  transform-origin: top;

  transition: transform 800ms ease;


  -webkit-transform: translateY(60%);
  -moz-transform:translateY(60%);
  -o-transform:translateY(60%);
}

.rhombus-out img {
  position: relative;
  width: 20%;
  max-width: 20%;
  left: 40%;
  z-index: 1;
  opacity: .7;
  transition: transform 800ms ease;

  -webkit-transform: translateY(65%);
  -moz-transform:translateY(65%);
  -o-transform:translateY(65%);
}


.ls img {
  display: block;
  width: 16%;
  max-width: 16%;
  position: absolute;
  top: 25%;
  left: 29%;
  z-index: 1;
  opacity: .5;
  transition: transform 600ms ease;
  transform-origin: bottom right;

  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -o-transform:rotate(10deg);
}

.ls-out img {
  display: block;
  width: 16%;
  max-width: 16%;
  position: absolute;
  top: 25%;
  left: 29%;
  z-index: 1;
  opacity: .5;

  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -o-transform:rotate(40deg);
  transition: transform 600ms ease;
  transform-origin: bottom right;

}

.lm img {
  display: block;

  width: 20%;
  max-width: 20%;
  position: absolute;
  top: 16%;
  left: 25%;
  z-index: 1;
  opacity: .5;

  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  -o-transform:rotate(5deg);

  transition: transform 800ms ease;
  transform-origin: bottom right;
}

.lm-out img {
  width: 20%;
  max-width: 20%;
  position: absolute;
  top: 16%;
  left: 25%;
  z-index: 1;
  opacity: .5;

  -webkit-transform:rotate(35deg);
  -moz-transform:rotate(35deg);
  -o-transform:rotate(35deg);

  transition: transform 800ms ease;
  transform-origin: bottom right;
}

.ll img {
  width: 25%;
  max-width: 25%;
  position: absolute;
  top: 5%;
  left: 20%;
  z-index: 1;
  opacity: .5;

  transition: transform 1200ms ease;
  transform-origin: bottom right;
}

.ll-out img {
  width: 25%;
  max-width: 25%;
  position: absolute;
  top: 5%;
  left: 20%;
  z-index: 1;
  opacity: .5;

  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -o-transform:rotate(30deg);

  transition: transform 1200ms ease;
  transform-origin: bottom right;
}

.rs img {
  width: 16%;
  max-width: 16%;
  position: absolute;
  top: 25%;
  right: 29%;
  z-index: 1;
  opacity: .5;

  -webkit-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);

  transition: transform 600ms ease;
  transform-origin: bottom left;
}

.rs-out img {
  width: 16%;
  max-width: 16%;
  position: absolute;
  top: 25%;
  right: 29%;
  z-index: 1;
  opacity: .5;

  -webkit-transform:rotate(-40deg);
  -moz-transform:rotate(-40deg);
  -o-transform:rotate(-40deg);

  transition: transform 600ms ease;
  transform-origin: bottom left;
}

.rm img {
  width: 20%;
  max-width: 20%;
  position: absolute;
  top: 16%;
  right: 25%;
  z-index: 1;
  opacity: .5;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);

  transition: transform 800ms ease;
  transform-origin: bottom left;
}

.rm-out img {
  width: 20%;
  max-width: 20%;
  position: absolute;
  top: 16%;
  right: 25%;
  z-index: 1;
  opacity: .5;

  -webkit-transform:rotate(-35deg);
  -moz-transform:rotate(-35deg);
  -o-transform:rotate(-35deg);

  transition: transform 800ms ease;
  transform-origin: bottom left;
}

.rl img {
  width: 25%;
  max-width: 25%;
  position: absolute;
  top: 5%;
  right: 20%;
  z-index: 1;
  opacity: .5;

  transition: transform 1200ms ease;
  transform-origin: bottom left;
}

.rl-out img {
  width: 25%;
  max-width: 25%;
  position: absolute;
  top: 5%;
  right: 20%;
  z-index: 1;
  opacity: .5;

  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -o-transform:rotate(-30deg);

  transition: transform 1200ms ease;
  transform-origin: bottom left;
}

/* hover effects! ---------------------------------------------------------------------- */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/*---------------------------------------------------------------------------------------*/

.carousel-item {
  height: 82vh;
}

#contact .row .contact-logo img {
  max-width: 75%;
  z-index: 1;
  opacity: .8;
  padding-top: 2rem;
}

#contact .row .contact-qr {
  max-width: 50%;
  z-index: 1;
}

.carousel-indicators {
  position: relative;
  top: .8rem;
  z-index: 1;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-indicators .active {
  /*background-color: #fCCD04;*/
  background-color: #a9bafc;
}

.controls-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.mainName {
  padding-top: 4rem;
}

.mainIcon {
  padding-top: 2rem;
  font-size: 48px;
}

.mainBlurb {
  padding-top: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  z-index: 1;
}

.overlayContent {
  color: white;
  font-size: 20px;
  position: absolute;
  height: 100%;
  width: 75%;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
  -ms-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
  text-align: center;
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.overlayContent::-webkit-scrollbar {
  display: none;
}

.overlayContent h3 {
  padding-top: 2rem;
}

.Amarylis:hover .overlay {
  opacity: .7;
}

.Iris:hover .overlay {
  opacity: .7;
}

.mg:hover .overlay {
  opacity: .7;
}

.mg2:hover .overlay {
  opacity: .7;
}

.ns:hover .overlay {
  opacity: .7;
}

.sb:hover .overlay {
  opacity: .7;
}

.sf:hover .overlay {
  opacity: .7;
}

.sys:hover .overlay {
  opacity: .7;
}

.gc:hover .overlay {
  opacity: .7;
}

.tulips:hover .overlay {
  opacity: .7;
}

.hsss:hover .overlay, .jttp:hover .overlay, .wctya:hover .overlay {
  opacity: .7;
}

.lo:hover .overlay, .pc:hover .overlay, .td:hover .overlay, .sd:hover .overlay {
  opacity: .7;
}

.oct:hover .overlay, .ec:hover .overlay, .ln:hover .overlay, .shingu:hover .overlay {
  opacity: .7;
}

.shingu .overlay .overlayContent img {
  opacity: 1;
}

.en1:hover .overlay, .en2:hover .overlay , .en3:hover .overlay , .en4:hover .overlay ,
.en5:hover .overlay, .en6:hover .overlay , .en7:hover .overlay , .en8:hover .overlay ,
.en9:hover .overlay {
  opacity: .7;
}

.mt1:hover .overlay, .mt2:hover .overlay, .mt3:hover .overlay, .mt4:hover .overlay,
.mt5:hover .overlay, .mt6:hover .overlay {
  opacity: .7;
}

.mon1:hover .overlay, .mon2:hover .overlay, .mon3:hover .overlay,
.mon4:hover .overlay, .mon5:hover .overlay {
  opacity: .7;
}

.m1:hover .overlay, .m2:hover .overlay, .m3:hover .overlay {
  opacity: .7;
}

.fp1:hover .overlay, .fp2:hover .overlay, .fp3:hover .overlay, .fp4:hover .overlay {
  opacity: .7;
}

.d1:hover .overlay, .d2:hover .overlay, .d3:hover .overlay {
  opacity: .7;
}

.fo1:hover .overlay, .fo2:hover .overlay, .fo3:hover .overlay, .fo4:hover .overlay {
  opacity: .7;
}

.p1:hover .overlay, .p2:hover .overlay, .p3:hover .overlay, .p4:hover .overlay, .p5:hover .overlay {
  opacity: .7;
}

#contactBG.lazy {
  background-image: none;
  background-color: #4D4E53;
}


#windBG.lazy {
  background-image: none;
  background-color: #4D4E53;
}

#windBG {
  background-image: url("img/texture/sincerely-media-5S697CKfwlY-unsplash.jpg");
}

#restorationBG.lazy {
  background-image: none;
  background-color: #4D4E53;
}

#restorationBG {
  background-image: url("img/ownTextures/thumbnail_Amarylis 2007 detail Porter Square - 1.jpg");
}

#otherBG.lazy {
  background-image: none;
  background-color: #4D4E53;
}

#otherBG {
  background-image: url("img/texture/marjanblan-_kUxT8WkoeY-unsplash.jpg");
}

#contactBG {
  background-image: url("img/texture/marjanblan-_kUxT8WkoeY-unsplash.jpg");
}

#contact .fixed-background {
  background: rgba(0,0,0,.3);
}

#wind .content h3, #wind .content p, #wind .content i {
  color: floralwhite;
  text-shadow: .2rem .2rem 3rem rgba(0,0,0,1)
  , -.2rem -.2rem 3rem rgba(0,0,0,1)
  !important;
}

#restoration .content strong, #restoration .content p,
#restoration .content i, #restoration .content h3 {
  color: floralwhite;
  text-shadow: .2rem .2rem 2rem rgba(0,0,0,1)
  , -.2rem -.2rem 2rem rgba(0,0,0,1)
  ,.2rem .2rem 3rem rgba(0,0,0,1)
  , -.2rem -.2rem 3rem rgba(0,0,0,1)
  ,.2rem .2rem 4rem rgba(0,0,0,1)
  , -.2rem -.2rem 4rem rgba(0,0,0,1)
  !important;
  z-index: -1;
}

#contact .content strong, #contact .content p, #contact .content i {
  color: floralwhite;
  text-shadow: .2rem .2rem 2rem rgba(0,0,0,.5)
  , -.2rem -.2rem 2rem rgba(0,0,0,.5)
  ,.2rem .2rem 3rem rgba(0,0,0,.3)
  , -.2rem -.2rem 3rem rgba(0,0,0,.3)
  !important;
  z-index: -1;
}

.shadow-modal {
  display: none;
  position: fixed;
  z-index: 10;

  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,.6);
}

.shadow-modal-content {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 87%;
  top: 10%;
  left: 20%;
}

.modal-header-color {
  color: white;
}

.shadow-modal .shadow-modal-content .carousel {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.close {
  display: none;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 3;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}






/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
