
body {
  overflow-x: hidden;
  font-family: 'Maven Pro', sans-serif;

  color: #505962;
}

.nBar {
  overflow: hidden;
  background: rgba(0,0,0,.7);
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-height: 7vh;

}

.nBar-brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  white-space: nowrap;
}

.nBar-brand img {
  padding-left: 1vw;
  height: 5vh;
}

.nBar-brand a {
  text-decoration: none;
}

.nBar-brand h3 {
  padding-left: .5vw;
  padding-right: 1.5vh;
  font-weight: 500;
  text-decoration: none;
}

.nBar-brand h3:hover {
  color: #a9bafc;
  text-decoration: none;
}

.hamburger {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 7vh;
}

.hDropButton {
  color: white;
  background-color: rgba(0,0,0,0);
  border: none;
}

.compressible {
  display: none;
}

@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }

  .compressible {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    width: 100%;
    height: 100%;
  }
}

.dDown {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .1rem;
  color: white;
  height: 100%;
}


.activeBar {
  background: rgba(255,255,255,.3);
  color: black;
}

.NB-nav-link {
  /*padding: 2vh 1.3rem;*/
  padding:4vh .65rem;
  white-space: nowrap;
  height: 100%;
  color: inherit;
}


.NB-nav-link:hover {
  color: #a9bafc;
  text-decoration: none;
}

.NB-nav-link:active {
  color: #a9bafc;
}


.offset-bar:before {
  display: block;
  content: "";
  height: 7vh;
  margin-top: -7vh;
}

.drop-down-content {
  display: none;
  position: fixed;
  min-width: 2rem;
  top: 7vh;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(255, 255, 255, .6) !important;

  color: #1b1e21;
  text-transform: uppercase;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
  z-index: 500;
}

.slider {
  color: black;
}

.slider-link {
  cursor: pointer;
}

.slider-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: inherit;
}

.drop-down-content .column i {
  padding: 12px 16px;
}

.finder {
  display: none;
}

.drop-down-content a {
  float: none;
  color: #1d2124;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dDown:hover .drop-down-content {
  display: block;
}

.slider:hover .slider-content {
  display: block;
}

.drop-down-content a:hover {
  background-color: rgba(255, 255, 255, .9);
}

.hambOverlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,.95);
  overflow-x: hidden;
  transition: .5s ease;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.hambOverlay::-webkit-scrollbar {
  display: none;
}

.hambClose {
  text-decoration: none;
  font-weight: 500;
  font-size: 3rem;
  color: white;
  display: block;
  transition: .3s ease;
  width: 100%;
}
.hambClose:hover {
  color: #a9bafc;
  text-decoration: none;
}

.hDropContent {
  position: relative;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.hDropContent a {
  text-transform: capitalize;
  text-align: center;
  height: 3rem;
}

.no-webp .home-inner {
  background-image: url("img/texture/dana-devolk-ep44pTTTAjE-unsplash-cropped1kby1k.jpg");
}
.webp .home-inner {
  background-image: url("img/texture/dana-1kby1k.webp");
}


@media (min-width: 1000px) {
  .no-webp .home-inner {
    background-image: url("img/texture/dana-devolk-ep44pTTTAjE-unsplash.jpg");
  }
  .webp .home-inner {
    background-image: url("img/texture/dana.webp");
  }
}

ul {
  list-style-type: none;
}

.li-last {
  /* last element of caption */
  padding-bottom: 1rem;
}

.btn {
  /* caption buttons */
  border-width: medium;
  color: white;
  border-radius: 0;
  box-shadow: .2rem .2rem 3rem rgba(0, 0, 0, .3) !important;
}

.restButton {
  color: #1d2124;
  background: rgba(255, 255, 255, .3);
}

.iris {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;
}

.caption {
  width: 50%;
  position: absolute;
  /*top: 35%;*/
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 3;
  color: floralwhite;
  text-shadow: .2rem .2rem 3rem rgba(0, 0, 0, 1), -.2rem -.2rem 3rem rgba(0, 0, 0, 1) !important;
  text-align: center;
}

.buttonNoWrap {
  white-space: nowrap;
}

.rhombus img {
  position: relative;
  width: 20%;
  max-width: 20%;
  left: 40%;
  z-index: 1;
  opacity: .5;
  transform-origin: top;

  transition: transform 800ms ease;


  -webkit-transform: translateY(60%);
  -moz-transform: translateY(60%);
  -o-transform: translateY(60%);
}


.rhombus-out img {
  position: relative;
  width: 20%;
  max-width: 20%;
  left: 40%;
  z-index: 1;
  opacity: .5;
  transition: transform 800ms ease;

  -webkit-transform: translateY(65%);
  -moz-transform: translateY(65%);
  -o-transform: translateY(65%);
}


.ls img {
  display: block;
  width: 16%;
  max-width: 16%;
  position: absolute;
  top: 25%;
  left: 29%;
  z-index: 1;
  opacity: .3;
  transition: transform 600ms ease;
  transform-origin: bottom right;

  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.ls-out img {
  display: block;
  width: 16%;
  max-width: 16%;
  position: absolute;
  top: 25%;
  left: 29%;
  z-index: 1;
  opacity: .3;

  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transition: transform 600ms ease;
  transform-origin: bottom right;

}

.lm img {
  display: block;

  width: 20%;
  max-width: 20%;
  position: absolute;
  top: 16%;
  left: 25%;
  z-index: 1;
  opacity: .3;

  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);

  transition: transform 800ms ease;
  transform-origin: bottom right;
}

.lm-out img {
  width: 20%;
  max-width: 20%;
  position: absolute;
  top: 16%;
  left: 25%;
  z-index: 1;
  opacity: .3;

  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -o-transform: rotate(35deg);

  transition: transform 800ms ease;
  transform-origin: bottom right;
}

.ll img {
  width: 25%;
  max-width: 25%;
  position: absolute;
  top: 5%;
  left: 20%;
  z-index: 1;
  opacity: .3;

  transition: transform 1200ms ease;
  transform-origin: bottom right;
}

.ll-out img {
  width: 25%;
  max-width: 25%;
  position: absolute;
  top: 5%;
  left: 20%;
  z-index: 1;
  opacity: .3;

  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);

  transition: transform 1200ms ease;
  transform-origin: bottom right;
}

.rs img {
  width: 16%;
  max-width: 16%;
  position: absolute;
  top: 25%;
  right: 29%;
  z-index: 1;
  opacity: .3;

  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);

  transition: transform 600ms ease;
  transform-origin: bottom left;
}

.rs-out img {
  width: 16%;
  max-width: 16%;
  position: absolute;
  top: 25%;
  right: 29%;
  z-index: 1;
  opacity: .3;

  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);

  transition: transform 600ms ease;
  transform-origin: bottom left;
}

.rm img {
  width: 20%;
  max-width: 20%;
  position: absolute;
  top: 16%;
  right: 25%;
  z-index: 1;
  opacity: .3;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);

  transition: transform 800ms ease;
  transform-origin: bottom left;
}

.rm-out img {
  width: 20%;
  max-width: 20%;
  position: absolute;
  top: 16%;
  right: 25%;
  z-index: 1;
  opacity: .3;

  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);

  transition: transform 800ms ease;
  transform-origin: bottom left;
}

.rl img {
  width: 25%;
  max-width: 25%;
  position: absolute;
  top: 5%;
  right: 20%;
  z-index: 1;
  opacity: .3;

  transition: transform 1200ms ease;
  transform-origin: bottom left;
}

.rl-out img {
  width: 25%;
  max-width: 25%;
  position: absolute;
  top: 5%;
  right: 20%;
  z-index: 1;
  opacity: .3;

  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);

  transition: transform 1200ms ease;
  transform-origin: bottom left;
}

/* hover effects! ---------------------------------------------------------------------- */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/*---------------------------------------------------------------------------------------*/

.carousel-item {
  object-fit: contain;
  height: 90vh;
  text-align: center;
  overflow-y: scroll;
  z-index: 5;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.shadow-modal .carousel-item {
  height: 65vh;
}

.carousel-item img {
  height: 85vh;
}

.shadow-modal .carousel-item img {
  height: 65vh;
}

.carousel-item::-webkit-scrollbar {
  display: none;
}

#contact .row .contact-logo img {
  max-width: 75%;
  z-index: 1;
  opacity: .8;
  padding-top: 2rem;
}

#contact .row .contact-qr {
  max-width: 50%;
  z-index: 1;
}

.carousel-indicators {
  position: absolute;
  top: 0;
  z-index: 5;
  height: fit-content;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-indicators .active {
  /*background-color: #fCCD04;*/
  background-color: #a9bafc;
}

.carousel-item img {
  object-fit: contain;
  padding-top: 2rem;
}


.controls-top {
  align-items: center;
  justify-content: center;
  /*padding-top: 2rem;*/
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 12.5%;
  left: 50%;
  -webkit-transform: translate(-50%, +0%);
  -ms-transform: translate(-50%, +0%);
  transform: translate(-50%, +0%);
  z-index: 5;

}

.indButtonLeft {
  background: rgba(255,255,255,0);
  color: #343a40;
  cursor: pointer;
  text-align: center;
  text-shadow: 0 0 1rem white, 0 0 1rem white, 0 0 2rem white !important;
  font-size: 5rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 40%;
  left: 5%;
  -webkit-transform: translate(-0%, -50%);
  -ms-transform: translate(-0%, -50%);
  transform: translate(-0%, -50%);
  transition: all .25s;
  z-index: 10;
}


.indButtonLeft span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.25s;
}

.indButtonLeft span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.25s;

}

.indButtonLeft:hover span {
  padding-right: 2rem;
  color: #a9bafc;
}

.indButtonLeft:hover span:after {
  opacity: 1;
  right: 0;
}

.indButtonRight {
  background: rgba(255,255,255,0);
  color: #343a40;
  cursor: pointer;
  text-align: center;
  text-shadow: 0 0 1rem white, 0 0 1rem white, 0 0 2rem white !important;
  font-size: 5rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 40%;
  right: 5%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  transition: all .25s;
  z-index: 10;
}


.indButtonRight span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.25s;
}

.indButtonRight span:before {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -2rem;
  transition: 0.25s;

}

.indButtonRight:hover span {
  padding-left: 2rem;
  color: #a9bafc;
}

.indButtonRight:hover span:before {
  opacity: 1;
  left: 0;
}



.mainName {
  padding-top: 2rem;
}

.mainIcon {
  padding-top: 1rem;
  font-size: 48px;
}

.blurbContainer {
  height: 93vh;
  overflow: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.blurbContainer::-webkit-scrollbar {
  display: none;
}

.mainBlurb {
  padding-top: 2rem;
}

.blurbOverlayRight {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.blurbOverlayRightOut {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  border-left: 4px solid #343a40;
}

.blurbOverlayLeft {
  position: absolute;
  bottom: 0;
  right: 100%;
  left: 0;
  background-color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.blurbOverlayLeftOut {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  border-right: 4px solid #343a40;
}
/*

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  z-index: 1;
}

 */

.overlayContent {
  display: none;
  /*
  color: #1d2124;
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 50%;
  height: fit-content;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  overflow-y: scroll;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
   */
}

.overlayContent::-webkit-scrollbar {
  display: none;
}

.blurbText {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
  text-align: center;
  overflow-y: scroll;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.blurbText::-webkit-scrollbar {
  display: none;
}

.overlayContent h3 {
  padding-top: 2rem;
}

.overlayButton i, .overlayButtonOut i, .overlayButton2 i,
.overlayButton2Out i, .overlayButtonModal i, .overlayButtonModalOut i {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  text-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 1), -.2rem -.2rem 1rem rgba(0, 0, 0, 1) !important;
  z-index: 5;
}

.overlayButton, .overlayButton2, .overlayButtonModal {
  height: 3rem;
  width: 3rem;
}


.overlayButton {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transition: .5s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.overlayButtonOut {
  opacity: 1;
  position: absolute;
  top: 13%;
  left: 50%;
  transition: .5s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.overlayButton2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 55%;
  transition: .5s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.overlayButton2Out {
  opacity: 1;
  position: absolute;
  top: 13%;
  left: 55%;
  transition: .5s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.overlayButtonModal {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transition: .5s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.overlayButtonModalOut {
  opacity: 1;
  position: absolute;
  top: 23%;
  left: 50%;
  transition: .5s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.carousel-caption h3, .carousel-caption p {
  text-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 1), -.2rem -.2rem 1rem rgba(0, 0, 0, 1) !important;
}

#toast {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  left: 50%;
  bottom: 5%;
  min-width: 100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#info {
  display: none;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 6.0s;
  animation: fadein 0.5s, fadeout 0.5s 6.0s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 5%; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 5%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 5%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 5%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#windBG.lazy {
  background-image: none;
  background-color: #4D4E53;
}

#windBG {
  background-image: url("img/texture/sincerely-media-5S697CKfwlY-unsplash1kby1k.jpg");
}

@media (min-width: 1000px) {
  #windBG {
    background-image: url("img/texture/sincerely-media-5S697CKfwlY-unsplash.jpg");
  }
}


#restorationBG.lazy {
  background-image: none;
  background-color: #4D4E53;
}

#restorationBG {
  background-image: url("img/texture/non-dAsRGmO4jaI-unsplash.jpg");
  /*background-image: url("img/texture/augustine-wong-LfU6_b3Oj4E-unsplash.jpg");*/
}


#otherBG.lazy {
  background-image: none;
  background-color: #4D4E53;
}

#otherBG {
  background-image: url("img/texture/marjanblan-_kUxT8WkoeY-unsplash1kby1k.jpg");
}

@media (min-width: 1000px) {
  #otherBG {
    background-image: url("img/texture/marjanblan-_kUxT8WkoeY-unsplash.jpg");
  }
}

#contactBG.lazy {
  background-image: none;
  background-color: #4D4E53;
}

#contactBG {
  background-image: url("img/texture/marjanblan-_kUxT8WkoeY-unsplash1kby1k.jpg");
}

@media (min-width: 1000px) {
  #contactBG {
    background-image: url("img/texture/marjanblan-_kUxT8WkoeY-unsplash.jpg");
  }
}

#contact .fixed-background {
  background: rgba(0, 0, 0, .3);
}

#wind .content h3, #wind .content p, #wind .content i {
  color: floralwhite;
  text-shadow: .2rem .2rem 3rem rgba(0, 0, 0, 1), -.2rem -.2rem 3rem rgba(0, 0, 0, 1) !important;
}

#restoration .content strong, #restoration .content p,
#restoration .content i, #restoration .content h3 {
  color: floralwhite;
  text-shadow: .2rem .2rem 2rem rgba(0, 0, 0, 1), -.2rem -.2rem 2rem rgba(0, 0, 0, 1) !important;
  z-index: -1;
}

#contact .content strong, #contact .content p, #contact .content i {
  color: floralwhite;
  text-shadow: .2rem .2rem 2rem rgba(0, 0, 0, .5), -.2rem -.2rem 2rem rgba(0, 0, 0, .5), .2rem .2rem 3rem rgba(0, 0, 0, .3), -.2rem -.2rem 3rem rgba(0, 0, 0, .3) !important;
  z-index: -1;
}

.shadow-modal {
  display: none;
  position: fixed;
  z-index: 10;

  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .6);
}

.shadow-modal-content {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 87%;
  top: 10%;
  left: 20%;
  text-align: center;
  overflow-y: scroll;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.shadow-modal-content::-webkit-scrollbar {
  display: none;
}



.modal-header-color {
  padding-top: 1rem;
  color: white;
}

.shadow-modal .shadow-modal-content .carousel {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.close {
  display: none;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 3;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
